<section class="icons">
  <div *ngIf="isUp">
    <i class="bhi-trending-up"></i>This job is trending up! Keep it up!</div>
  <div *ngIf="isDown">
    <i class="bhi-trending-down"></i>This job is trending down. Act fast!</div>
  <div *ngIf="isNeutral">
    <i class="bhi-activity"></i>No recent changes. Take some action!</div>
</section>
<div class="cats">
  <section class="quarter">
    <div class="confidence">
      <label>Confidence</label> {{confidence}}%</div>
    <div class="delta">
      <label>Trend</label>
      <section *ngIf="delta < 0"
               class="down">
        <i class="bhi-collapse"></i>{{ delta }}
      </section>
      <section *ngIf="delta > 0"
               class="up">
        <i class="make-it-up bhi-collapse"></i>{{ delta }}
      </section>
      <section class="neutral"
               *ngIf="isNeutral">No Change
      </section>
    </div>
  </section>
  <div class="divider"></div>
  <section class="three-quarter">
    <div #chartTarget
         class="chart"
         align="center">
      Loading probability...
    </div>
  </section>
</div>
